#home {
  background-color: $light-gray;
  color: $gray;
  height: 100vh;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.new-container {
  width: 1020px;
  height: 100vh;
  margin: -20px auto 0px auto;
  background-color: $light-gray;
}

#home-title {
  margin-top: 20px;
  padding-top: 20px;
}

#home-presentation {
  display: flex;
  justify-content: center;
  align-item: center;
  margin: -10px auto;
  p {
    width: 700px;
    margin-right: 30px;
    font-weight: 300;
    font-size: 16px;
  }
  .btn {
    height: 50px;
    margin: 30px 0px;
  }
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid $gray;
  border-radius: 2px;
  max-width: 980px;
  margin: 30px auto;

  .strip-img {
    width: 300px;
    display: flex;
    align-items: center;
    margin: 20px 10px 50px 10px;
    border: 1px solid $gray;
    border-radius: 2px;
    cursor: pointer;
    &:hover {
      margin-top: 15px;
    }
  }
  .strip-start {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 300px;
    position: relative;
    .strip-description {
      position: absolute;
      display: none;
      bottom: -45px;
      right: 0px;
      font-size: 12px;
      color: gray;
    }
  }
  .strip-middle {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 300px;
    position: relative;
    .strip-description {
      position: absolute;
      display: none;
      bottom: -45px;
      right: 0px;
      font-size: 12px;
      color: gray;
    }
  }
  .strip-end {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 300px;
    width: 300px;
    position: relative;
    .strip-description {
      position: absolute;
      display: none;
      bottom: -45px;
      right: 0px;
      font-size: 12px;
      color: gray;
    }
  }
}
